@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(/fonts/montserrat-300.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(/fonts/montserrat-400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html, body, input {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body {overflow: hidden;}

input {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: rgba(101, 109, 120, 0.85);
    border: none;
    height: 75px;
    width: 100%;
    color: white;
    font-size: 32px;
    padding-left: 20px;
    padding-right: 70px;
    font-weight: 400;
    line-height: 75px;
    transition: value 0.35s ease-in-out;
}

input::-webkit-input-placeholder {
    color: #ecf0f1;
    transition: value 0.35s ease-in-out;
}

input:active, input:focus {
    outline: none;
}

.container {
    margin-top: 75px;
    overflow: auto;
    height: 310px;
    border-bottom-left-radius: 5px;
}

.list {
    background-color: rgba(101, 109, 120, 0.75);
    border-bottom-left-radius: 5px;
    color: white;
    overflow: auto;
}

.list-item {
    position: relative;
    user-select: none;
    height: 40px;
    display: flex;
    padding-left: 20px;
    padding-top: 15px;
    cursor: pointer;
    width: 100%;
}

.list-item-alias {
    margin-left: 15px;
    line-height: 20px;
    font-weight: 300;
    font-size: 14px;
}

.list-item:hover,
.list-item:focus,
.list-item:active {
    background-color: rgba(101, 109, 120, 0.85);
}

.list-item:nth-last-child(1) {
    border-bottom-left-radius: 5px;
}

.list-item-scut {
    position: absolute;
    right: 50px;
    top: 8px;
    background-color: #AAB2BD;
    width: 10px;
    padding: 7px 10px;
    margin: 0;
    border-radius: 5px;
    color: white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.75);
}

.list-item:nth-child(n+10) > .list-item-scut {
    display: none;
}

.container::-webkit-scrollbar-track
{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5px;
    background-color: transparent;
    background-color: rgba(101, 109, 120, 0.75);
}

.container::-webkit-scrollbar
{
	width: 8px;
}

.container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgb(101, 109, 120);
}
